[package]
name = "axelar-gateway"
version = "0.1.0"
edition = { workspace = true }

[lib]
crate-type = ["cdylib"]

[dependencies]
soroban-sdk = { workspace = true, features = ["alloc"] }
secp256k1 = { version = "0.28.2", features = ["rand"] }
rand = { vesion = "0.8.5" }

[dev_dependencies]
soroban-sdk = { workspace = true, features = ["testutils", "alloc"] }
secp256k1 = { version = "0.28.2", features = ["rand"] }
rand = { vesion = "0.8.5" }

[features]
testutils = ["soroban-sdk/testutils"]
